/** arXiv-keys.css
 *  (C) Leo C. Stein (leo.stein@gmail.com)
 *  2013 May
 *
 *  Part of the arXiv-keys extension
 *
 *  This work is licensed as Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)
 *  For full details see http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US
 */

#helpBox {
  position: fixed;
  overflow-y: auto;
  right: 20px;
  top: 20px;
  z-index: 1000;
  border: 2px solid #aaa;
  border-radius: 5px;
  width: 280px;
  padding: 5px;
  background-color: #fff;
  font-size: small;
}

#helpBox > table {border-collapse:collapse;}

#helpBox > th,tr {text-align:left;border-bottom:dashed gray 1px;}

#helpBox > th,td {padding:2px 10px;}

.selected {outline:1px dashed; background-color: #dadaff;}

#gotoBox {
  position: fixed;
  top: 175px;
  /* TODO There must be a better way of centering, right? */
  left: 50%;
  margin-left: -150px; /* half of width */
  /* z-index: 1000; */
  border: 2px solid;
  border-radius: 5px;
  width: 300px;
  padding: 5px;
  background-color: #fff;
  font-size: small;
}

#gotoBox > label {
  text-align: left;
}

#gotoInput {
  float: left;
  margin: 5px 2px;
  border: 2px inset;
}

#gotoError {
  color: red;
  float: right;
  margin: 5px 2px;
}
